<section id="block-work" data-section="work">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2 class="to-animate">Portfolio</h2>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 subtext to-animate">
                        <h3>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-bottom-padded-sm">
            <div class="col-md-4 col-sm-6 col-xxs-12">
                <a href="images/work_1.jpg" class="block-project-item image-popup to-animate">
                    <img src="images/work_1.jpg" alt="Image" class="img-responsive">
                    <div class="block-text">
                        <h2>Project 1</h2>
                        <span>Branding</span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 col-xxs-12">
                <a href="images/work_2.jpg" class="block-project-item image-popup to-animate">
                    <img src="images/work_2.jpg" alt="Image" class="img-responsive">
                    <div class="block-text">
                        <h2>Project 2</h2>
                        <span>Web</span>
                    </div>
                </a>
            </div>

            <div class="clearfix visible-sm-block"></div>

            <div class="col-md-4 col-sm-6 col-xxs-12">
                <a href="images/work_3.jpg" class="block-project-item image-popup to-animate">
                    <img src="images/work_3.jpg" alt="Image" class="img-responsive">
                    <div class="block-text">
                        <h2>Project 3</h2>
                        <span>Web</span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 col-xxs-12">
                <a href="images/work_4.jpg" class="block-project-item image-popup to-animate">
                    <img src="images/work_4.jpg" alt="Image" class="img-responsive">
                    <div class="block-text">
                        <h2>Project 4</h2>
                        <span>UI/UX</span>
                    </div>
                </a>
            </div>

            <div class="clearfix visible-sm-block"></div>

            <div class="col-md-4 col-sm-6 col-xxs-12">
                <a href="images/work_5.jpg" class="block-project-item image-popup to-animate">
                    <img src="images/work_5.jpg" alt="Image" class="img-responsive">
                    <div class="block-text">
                        <h2>Project 1</h2>
                        <span>Photography</span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 col-xxs-12">
                <a href="images/work_6.jpg" class="block-project-item image-popup to-animate">
                    <img src="images/work_6.jpg" alt="Image" class="img-responsive">
                    <div class="block-text">
                        <h2>Project 2</h2>
                        <span>Illustration</span>
                    </div>
                </a>
            </div>

            <div class="clearfix visible-sm-block"></div>

            <div class="col-md-4 col-sm-6 col-xxs-12">
                <a href="images/work_7.jpg" class="block-project-item image-popup to-animate">
                    <img src="images/work_7.jpg" alt="Image" class="img-responsive">
                    <div class="block-text">
                        <h2>Project 3</h2>
                        <span>Web</span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 col-xxs-12">
                <a href="images/work_8.jpg" class="block-project-item image-popup to-animate">
                    <img src="images/work_8.jpg" alt="Image" class="img-responsive">
                    <div class="block-text">
                        <h2>Project 4</h2>
                        <span>Sketch</span>
                    </div>
                </a>
            </div>

            <div class="clearfix visible-sm-block"></div>

            <div class="col-md-4 col-sm-6 col-xxs-12">
                <a href="images/work_1.jpg" class="block-project-item image-popup to-animate">
                    <img src="images/work_1.jpg" alt="Image" class="img-responsive">
                    <div class="block-text">
                        <h2>Project 2</h2>
                        <span>Illustration</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>